@charset "utf-8";

@font-face {
   font-family: Dobkin;
   src: url(DobkinPlain.woff) format('woff'),
	url(DobkinPlain.ttf) format('ttf');
}

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 9
   Case Problem 2
   

   Jane Austin Style Sheet

*/


/* HTML and Body Styles */

html {
   background: rgb(199, 227, 205);
   font-family: Verdana, Geneva, sans-serif;
   font-size: 12px;
}

body {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;   
   background: white;
   max-width: 1024px;
   min-width: 620px;
   margin: 0px auto;
   box-shadow: rgb(51, 51, 51) 10px 10px 25px,  rgb(51, 51, 51) -10px 10px 25px;
   background: white url(ja_back2.png) left center / 200px repeat-y;
}

p {
   font-size: 1.2em;
   line-height: 1.4em;
   margin: 15px;
}


/* Header Styles */

body > header {
   width: 100%;
}

body > header > img {
   display: block;
   width: 100%;
}



/* Sidebar Navigation Styles */


nav#sidebar {
   =webkit-flex: 0 1 200px;
   flex: 0 1 200px;
}

nav#sidebar li {
   margin: 25px auto;
   text-align: center;
   font-family: Dobkin;
   font-size: 2em;
   line-height: 1.3;
   color: green;
   width: 90%;
   height: 100px;
   border-width: 25px;
   border-image: url(ja_back1.png) 20% stretch;
   border-image-slice: fill;
}

nav#sidebar li a {
   color: green;
}

/* Article Styles */

article {
   -webkit-flex: 2 1 400px;
   flex: 2 1 400px;
}

article img {
   float: right;
   width: 40%;
   margin: 0px 20px 20px 20px;
}

/* Quotation Styles */

article quote {
   background: rgb(250, 192, 116);
   display: block;
   margin: 20px;
   font-size: 2em;
   line-height: 1.2;
   padding: 15px;
   border-radius: 30px;
   font-family: "Times New Roman", Times, serif;
   quotes: "\201C" "\201D";
}
 
article quote::before {
   content: open-quote;
   font-family: 'Times New Roman', Times, serif;
   font-size: 1.5em;
   color: rgba(0, 0, 0, 0.5);
}

article quote::after {
   content: close-quote;
   font-family: 'Times New Roman', Times, serif;
   font-size: 1.5em;  
   color: rgba(0, 0, 0, 0.5);    
}

/* Footer Styles */

footer {
   width: 100%;
}

footer p {
   color: rgb(211, 211, 211);
   font-size: 0.9em;
   text-align: center;
   background-color: rgb(78, 33, 0);
   margin: 0px;
   padding: 10px 0px;
}


/* Bottom Navigation List Styles */

nav#bottom {
   background-color: rgb(126, 66, 13);
   color: rgb(211, 211, 211);
   padding: 15px;
}

nav#bottom ul li {
   font-size: 1em;
   line-height: 1.8em;
}

nav#bottom ul a {
   color: white;
}



/* Bottom Navigation Styles */

nav#bottom {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row nowrap;
   flex-flow: row nowrap;
   -webkit-justify-content: center;
   justify-content: center;
}

nav#bottom ul {
   flex: 0 1 150px;
}
