@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 3
   Case Problem 2
   
   Layout Style Sheet for A Soldier's Scrapbook
   Author: Jakob Bauer
   Date:   2021-03-01
   
   Filename: ss_layout.css

*/


/* Article Styles */





/* First Line and Drop Cap Styles */



 

/* Aside Styles */




/* Map Styles */




/* Interactive Map Styles */




/* Map Information Styles */



