/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 2
   Case Problem 1
   
   PHCT Typographic Style Sheet
   Author: 
   Date:   
   
   Filename: ph_styles.css

*/


/* Structural Styles */




/* Navigation Styles */




/* Section Styles */




/* Description List Styles */

