@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 2
   Case Problem 2
   
   Civil War History
   Filename: cw_layout.css

*/

body {
	margin: 0 auto;
	width: 100%;
	max-width: 1020px;
	min-width: 640px;
}

body > header {
	width: 100%;
}

body > header > nav {
	display: table;
	width: 100%;
}

body > header > nav > ul {
	display: table-row;
}

body > header > nav > ul > li {
	display: table-cell;
	text-align: center;
}

body > header > nav > ul > li > a {
	display: block;
	width: 100%;
}


body > nav {
	width: 25%;
	float: left;
}

body > section {
	width: 75%;
	float: left;
}

body > section > article {
	width: 54%;
	float: left;
	margin-left: 4%;
	margin-right: 4%;
}

body > section > aside {
	width: 34%;
	float: left;
	margin-right: 4%;
}

body > section > header > img {
	width: 100%;
}

body > section > aside > img {
	display: block;
	width: 80%;
	margin: 0 auto;
}

footer {
	clear: both;
}

	

