@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 5
   Case Problem 2
   
   Author:   
   Date:      
   
   Filename: cw_styles.css

   This file contains the screen styles used with the 
   Cauli-Wood Gallery home page

*/


/* Import Basic Design Styles  */



/* ===============================
	General Styles for All Devices
   ===============================
*/



/* ===============================
	Mobile Styles up to 480 pixels
   ===============================
*/
	



/* ============================================
	Tablet and Desktop Devices: 481px or more 
   ============================================
*/

