@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 5
   Review Assignment
   
   Author:   
   Date:     
   
   Filename: tf_print2.css

   This file contains the printer styles used with the Trusted
   Friends Parents Tips page

*/



/* Hidden Objects */



/* Page Box Styles */



/* Header Styles */



/* Typography Styles */



/* Hypertext Styles */




/* Page Break Styles */

