@charset "utf-8";
/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 5
   Review Assignment
   
   Author:   
   Date:     
      
   Filename: tf_styles4.css

   This file contains the screen styles used with the Trusted
   Friends blog tips

*/


/* Import Basic Design Styles Used on All Screens */

@import url("tf_designs.css");



/* General Flex Styles */






/* ===============================
	Mobile Devices: 0 to 480px 
   ===============================
*/
	




/* ============================================
	Tablet and Desktop Devices: 481px or more 
   ============================================
*/



