@charset "utf-8";

/* 

   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 1
   Coding Challenge 3 Stylesheet
   
   Filename: code1-3styles.css
*/

body {
   width: 820px;
   margin: 20px auto;
}

h1 {
   font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
   color: white;
   text-shadow: 0px 0px 2px black, 0px 0px 10px black, 0px 0px 30px black;
   font-size: 2.5em;
   text-align: center;
}

section {
   width: 250px;
   height: 300px;
   text-align: center;
   background: rgb(231, 231, 231);
   box-shadow: inset 0px 0px 20px black;
   padding-top: 20px;
   float: left;
   box-sizing: border-box;
   margin: 10px;
}

img {
   width: 200px;
   display: block;
   margin: 0px auto;
   border: 1px solid gray;
   box-shadow: 0px 0px 10px black;
   box-sizing: border-box;
}

section > footer {
   margin: 10px;
   font-style: italic;
   box-sizing: border-box;
}

