@charset "utf-8";

/*
   Description  : 
   Author       : 
   Date         : 
   Filename     : base_stylesheet.css
*/

/* =============================================
	Comments
   =============================================
*/

section > * {
   background-color: orange;

}

section p {
   background-color: yellow;
}

section > p {
   background-color: green;
}

section + p {
   background-color: blue;
}

section ~ p {
   background-color: red;
}

#dog {
   background-color: purple;
}

#This_is{
   background-color: pink;
   font-size: xx-large;
   font-family: 'Courier New', Courier, monospace;
}

p.id1 {
   background-color: darkblue;
   color: white;
}

p.id3 {
   background-color: wheat;
}
#id4 {
   background-color: darkgreen;
   color: white;
}