@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 5
   Tutorial Case
   
   Author:   
   Date:     
   
   Filename: tf_flex.css
   
   This file contains the flex styles used in the Trusted Friends
   Pre-K Classes page.

*/


/* ================
   Base Flex Styles
   ================
*/




/* =========================
   Mobile Styles: 0 to 480px 
   =========================
*/

@media only screen and (max-width: 480px) {
  

 
}

/* ============================================
   Tablet and Desktop Styles: 481px and greater 
   ============================================
*/

@media only screen and (min-width: 481px) {



}


