@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 5
   Tutorial Case
   
   Author:   
   Date:     
   
   Filename: tf_navicon.css
   
   This file contains styles used to control 
   a navicon menu.

*/


/* ===========
   Base Styles
   ===========
*/




/* ===============================
   Mobile Devices: 0 to 480px 
   ===============================
*/

@media only screen and (max-width: 480px) {

   
}
