/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 3
   Tutorial Case
   
   Positioning Styles for the pc_info.html file
   Author: 
   Date:   
   
   Filename: pc_info.css

*/


/* Main Styles */



/* Infographic Styles */



/* First Infographic */



/* Second Infographic */



/* Third Infographic */



/* Fourth Infographic */



/* Fifth Infographic */



/* Sixth Infographic */



/* Seventh Infographic */



/* Eighth Infographic */



