@charset "utf-8";
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Case Problem 1
   
   Author:   
   Date:     
   
   Filename: gp_print.css

   This file contains the printer styles used with the sample
   comic book pages from Golden Pulps.

*/




/* Hidden Objects */






/* Comic Book Sheet Styles */






	





