@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 4
   Case Problem 1
   
   Save your Fork Graphic Design Styles
   Author: 
   Date:   

   Filename: sf_effects.css

*/

/* Body Header Styles */



/* Navigation Tabs List Styles */




/* Left Section Styles */




/* Center Article Styles */




/* Blockquote Styles */


