@charset "utf-8";


/*
   New Perspectives on HTML and CSS, 8th Edition
   Tutorial 6
   Case Problem 2

   The Lyman Theater General Style Sheet
  
   Filename:   lht_styles.css

*/


/* HTML and Body styles */

html {
   background: rgb(151, 151, 151);
   font-family: Verdana, Geneva, sans-serif;
   height: 100%;
}

body {
   background-color: white;
   box-shadow: rgb(51, 51, 51) 10px 0px 40px, rgb(51, 51, 51) -10px 0px 40px;
   border-left: 1px solid gray;
   border-right: 1px solid gray;
   min-height: 100%;   
   margin: 0px auto;
   min-width: 400px;
   max-width: 1024px;   
   width: 100%; 
}


/* Header styles */

header {
   background: rgb(178, 97, 63);
}

header img#logoimg {
   display: block;
   width: 100%;
}

/* Navigation list styles */

header nav ul {
   width: 100%;
}

header nav ul li {
   font-size: 1em;   
}

header nav ul li a {
   color: white;
   display: block;
   padding: 5px 20px;
   width: 100%;
}

header nav ul li a:hover {
   color: rgb(11, 12, 145);
}

a#navicon {
   display: none;
}

/* Article Styles */

article {
   width: 90%;
   margin: 20px auto;
}

article h1 {
   color: rgb(154, 64, 3);
   font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
   font-weight: normal;
   font-size: 2.5em;
   letter-spacing: 0.03em;
   line-height: 1.2em;
   margin-bottom: 20px;
}

article p {
   line-height: 1.5;
   margin-bottom: 15px;
}

article p em {
   color: rgb(154, 64, 3);
}


/* Footer styles */   

footer {
   clear: both;
   color: white;    
   background: linear-gradient(to bottom, rgb(178, 97, 63), rgb(41, 41, 41));
   font-size: 0.8em;  
   font-style: normal;
   width: 100%;
}

footer nav ul, footer section {
   float: left;
   padding: 20px 30px;
   width: 20%;
}

footer section {
   float: left;
   padding: 20px 30px;
   width: 40%;
}

footer nav ul a {
   color: white;
}

footer nav ul a:hover {
   text-decoration: underline;
}

footer::after {
   display: table;
   content: "";
   clear: both;
}

/* ===============================
   Mobile Styles: 0px to 640px 
   ===============================
*/
@media only screen and (max-width: 640px) {

   
   a#navicon {
      display: block;
   }
   
   header nav {
      padding-bottom: 5px;
   }
   
   header nav ul {
      display: none;
   }
   
   header nav ul li {
      font-size: 1em;
      line-height: 1.3em;
      height: 1.3em;
   }
   
   a#navicon:hover+ul, header nav ul:hover {
      display: block;
   }
   
   header img#logoimg {
      width: 100%;
   }
   
   article {
      display: none;
   }
   
   footer nav ul, footer section {
      font-size: 1.2em;
      width: 100%;
   }
}


/* =============================================
   Tablet and Desktop Styles: greater than 640px
   =============================================
*/
@media only screen and (min-width: 641px) {
    
   header nav ul {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
   }
   
   header nav ul li {
      flex: 0 1 auto;
   }
}
