@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 4
   Tutorial Case
   
   Visual Style Sheet for Tree and Book Family Home Page
   Author: 
   Date:   
   
   Filename: tb_visual1.css

*/


/* Figure Box Styles */




/* HTML Styles */




/* Article Styles */




/* Page Body Styles */




/* Aside Styles */



/* Footer Styles */


