@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 4
   Tutorial Case
   
   Visual Effects Style Sheet for Photo Page at Tree and Book
   Author:
   Date:   
   
   Filename: tb_visual2.css

*/


/* Transformation Styles */

article {
   perspective: 600px;
}

figure#figure1 {
      transform: rotateX(30deg) translateZ(50px );
      box-shadow: rgb(51,51,51) 0px 10px 25px;;
        }
figure#figure2 {
      transform: rotateX(30deg) translateZ(50px );
      box-shadow: rgb(51,51,51) 0px 10px 25px;;
        }
figure#figure3 {
      transform: rotateX(30deg) translateZ(50px );
      box-shadow: rgb(51,51,51) 0px 10px 25px;;
        }
        

/* Filter Styles */










